body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;


background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.42, #fc0), color-stop(1, rgba(255, 255, 255, 0)));
background-image: -o-linear-gradient(top, #cf0 42%, rgba(255, 255, 255, 0) 100%);
background-image:    linear-gradient(180deg, #f00 42%, rgba(255, 255, 255, 0) 100%);
background-repeat: no-repeat;
-webkit-background-size: 100% 195px;
        background-size: 100% 195px;
    

}
